/*
    Bonus stage: 3 x 3 grid (Responsive)
    by Ali A. (doubleInc@github)

    Note: Classes used so they can be easily interchanged in HTML file instead of
    directly targeting HTML elements.

    No reset or normalize used, all other styling is browser/agent asigned.

    Border colors used to display items better.

*/

.flex-container {
  /* 
  Step 1: The <div> element is our flex container, set display on it to 'flex'.

  This causes all DIRECT children to become flex items.  */
  display: flex;

  /* Wrap forces items onto multiple lines. Remember default flex-direction is row so 
  it's ommited. */
  flex-wrap: wrap;
  /* Items are distributed/spaced evenly along the axis.*/
  justify-content: space-between;
}

.flex-item {
  /* Step 2. 
    
    Each child is given the same flex-basis 32%, space to take up along the axis.

    Bottom margin of 2% to even out display, to equal the vertical gap.
    (100% - 32x3 = 4/2 = 2)
  */
  flex: 0 32%;
  margin-bottom: 2%;

  /* Height of each element for this example. Should be adjusted accordingly.*/
  height: 160px;
}

/*===================================================================
Non flexbox related styling. Only for better visibilty. 
=====================================================================*/

.border-purple {
  border: 1px solid purple;
}

.border-pink {
  border: 1px solid palevioletred;
}

.border-orange {
  border: 1px solid orangered;
}

.border-green {
  border: 1px solid green;
}

.border-blue {
  border: 1px solid aqua;
}
